.logo {
  display: flex;
  max-width: 142px;
  min-height: 33px;
  margin: 0 auto auto 0;
  padding: 0;
  object-fit: cover;
}

@media screen and (max-width: 879px) {
  .logo {
    padding: 0;
    margin: 28px auto 0 27px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    max-width: 103px;
    minx-height: 24px;
    margin: 28px auto 0 27px;
  }
}
